<!DOCTYPE html>
<html>
  <head>
    <title>FitsmindRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-inverse bg-inverse navbar-static-top">
      <div class="container-fluid">
        <h1 class="navbar-brand mb-0 pull-left">Fitsmind Rails</h1>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
